.app {
  display: inline-block;
  float: left;
  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    background: #fff url('./header_top_logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 60%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}
.appContent {
  margin: 50px 0 0 0; // for fixed navbar
  float: left;
  width: 100%;
}
.navbar{
  background: #3fc98c;
  color: #fff;
}
.colorFFF{
  color: #fff !important;
  a{
    color: #fff !important;
  }
}
